/* ../styles/index.module.css */

.mainTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/gift.png');
    background-size: cover;
    background-position: center;
}

.containerTop {
    max-width: 1200px;
    width: 100%;
    height: 1000px;
    position: relative;
}

.titleTop {
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.descriptionTop {
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.rulesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(23, 95, 135, 1) 0%,
            rgba(51, 123, 165, 1) 25%,
            rgba(140, 187, 216, 1) 100%);
}

.rulesContainer {
    max-width: 1200px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    top: -150px;
}

.rulesTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 20px;
    flex-shrink: 0;
}

@media (max-width: 400px) {
    .rulesTitle {
        font-size: 28px;
    }
}

.rulesTitle::before,
.rulesTitle::after {
    content: '';
    width: 230px;
    border-bottom: 3px solid #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0);
    margin: 0 20px;
}

@media (max-width: 850px) {

    .rulesTitle::before,
    .rulesTitle::after {
        width: 150px;
    }
}

@media (max-width: 700px) {

    .rulesTitle::before,
    .rulesTitle::after {
        width: 0px;
    }
}


.rulesContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

@media (max-width: 1200px) {
    .rulesContent {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        max-width: 90%;
    }
}

@media (max-width: 1024px) {
    .rulesContent {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 90%;
    }
}

@media (max-width: 624px) {
    .rulesContent {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 100%;
        padding: 0px;
    }
}

.rulesCard_Background {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@media (max-width: 1200px) {
    .rulesCard_Background {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1024px) {
    .rulesCard_Background {
        gap: 80px;
    }
}

@media (max-width: 740px) {
    .rulesCard_Background {
        gap: 40px;
    }
}

@media (max-width: 624px) {
    .rulesCard_Background {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
}

.rulesCard_Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .rulesCard_Text {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 624px) {
    .rulesCard_Text {
        padding: 0px;
    }
}

.rulesCard_PictureBackground {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .rulesCard_PictureBackground {
        width: 200px;
        height: 200px;
    }
}

.rulesCard_1_Picture {
    background-image: url('/images/select.png');
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .rulesCard_1_Picture {
        width: 180px;
        height: 180px;
    }
}

.rulesCard_2_Picture {
    background-image: url('/images/design.png');
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .rulesCard_2_Picture {
        width: 180px;
        height: 180px;
    }
}

.rulesCard_3_Picture {
    background-image: url('/images/payment.png');
    background-size: cover;
    background-position: center;
    z-index: 2;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .rulesCard_3_Picture {
        width: 180px;
        height: 180px;
    }
}

.rulesCard_4_Picture {
    background-image: url('/images/delivery.png');
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .rulesCard_4_Picture {
        width: 180px;
        height: 180px;
    }
}

.rulesCard_Title {
    color: #1A5665;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}

.rulesCard_Description {
    color: #1A5665;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}

.itemsContainer {
    max-width: 1200px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    top: -80px;
}

.itemsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 20px;
    flex-shrink: 0;
}

@media (max-width: 400px) {
    .itemsTitle {
        font-size: 28px;
    }
}

.itemsTitle::before,
.itemsTitle::after {
    content: '';
    width: 230px;
    border-bottom: 3px solid #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0);
    margin: 0 20px;
}

@media (max-width: 850px) {

    .itemsTitle::before,
    .itemsTitle::after {
        width: 150px;
    }
}

@media (max-width: 700px) {

    .itemsTitle::before,
    .itemsTitle::after {
        width: 0px;
    }
}

.itemsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

@media (max-width: 1300px) {
    .itemsContent {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        max-width: 90%;
    }
}

@media (max-width: 1024px) {
    .itemsContent {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 90%;
    }
}

@media (max-width: 624px) {
    .itemsContent {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 100%;
        padding: 0px;
    }
}


.itemsCard_Background {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@media (max-width: 624px) {
    .itemsCard_Background {
        gap: 10px;
        padding: 20px;
    }
}

@media (max-width: 430px) {
    .itemsCard_Background {
        gap: 0px;
        width: 70%;

    }
}

.itemsCard_1_Picture {
    background-image: url('/images/item01.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_1_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_1_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_1_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_1_Picture {
        width: 100%;
        height: 200px;
    }
}


.itemsCard_2_Picture {
    background-image: url('/images/item02.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_2_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_2_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_2_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_2_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_3_Picture {
    background-image: url('/images/item03.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_3_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_3_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_3_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_3_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_4_Picture {
    background-image: url('/images/item04.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_4_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_4_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_4_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_4_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_5_Picture {
    background-image: url('/images/item05.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_5_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_5_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_5_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_5_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_6_Picture {
    background-image: url('/images/item06.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_6_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_6_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_6_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_6_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_7_Picture {
    background-image: url('/images/item07.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_7_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_7_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_7_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_7_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_8_Picture {
    background-image: url('/images/item08.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_8_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_8_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_8_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_8_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsCard_9_Picture {
    background-image: url('/images/item09.png');
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 290px;
}

@media (max-width: 1300px) {
    .itemsCard_9_Picture {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .itemsCard_9_Picture {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 624px) {
    .itemsCard_9_Picture {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 430px) {
    .itemsCard_9_Picture {
        width: 100%;
        height: 200px;
    }
}

.itemsText {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}