/* ../styles/order.module.css */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    background-image: url('/images/gift-town-all.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.backgroundContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.orderContainerInformationInside {
    max-width: 1200px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 10px auto;
    padding: 30px;
    position: relative;
    overflow-y: auto;
}

.orderContainerInformationOutside {
    max-width: 1200px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    margin: 10px auto;
    padding: 20px 30px 10px 30px;
    cursor: pointer;
}

.orderContainerInformationOutside:hover {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(5px);
}

.orderContainerInformationOutside:active {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(5px);
}

.orderNumber,
.orderDate,
.orderAmount,
.orderStatus,
.orderDetail,
.orderName,
.orderEmail,
.orderPhone,
.orderReceiver,
.orderReceiverAddress,
.orderReceiverPhone {
    font-size: 16px;
    font-weight: 700;
    color: #1D445D;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.orderInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin-bottom: 20px;
}

.orderItemInformation {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.orderItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
    width: 100%;
}

@media (max-width: 840px) {

    .orderItemContainer {
        flex-direction: column;
    }
}

.cartContentLeft {
    max-width: 150px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1200px) {

    .cartContentLeft {
        max-width: 150px;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;

    }
}

@media (max-width: 840px) {

    .cartContentLeft {
        max-width: 100%;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        margin-bottom: 20px;
    }
}


.cartContentBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.cartContentCanvas {
    max-width: 75%;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 8%;
}

.cartContentRight {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    width: 100%;
}

@media (max-width:840px) {

    .cartContentRight {
        grid-template-columns: 1fr;
        margin-left: 0px;
        width: 100%;
    }
}

.cartContentText {
    font-size: 16px;
    color: #1D445D;
    font-weight: 700;
    width: 100%;
}

@media (max-width:390px) {

    .cartContentText {
        font-size: 14px;
    }
}

.orderNameInput,
.orderEmailInput,
.orderPhoneInput,
.recipientNameInput,
.recipientPhoneInput,
.recipientAddressInput {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #575758;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 1000;
}

.ordarContainer {
    overflow-y: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 10px;
    margin-bottom: 30px;
}

.closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #1D445D;
    top: 20px;
    right: 20px;
}

.closeButton:hover {
    color: #992626;
}