/* ../styles/payment.module.css */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    background-image: url('/images/gift-town-all.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -1000px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.cartContainer {
    max-width: 1200px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px 0px 60px;
    position: relative;
    margin: 10px auto;
}

@media (max-width: 990px) {

    .cartContainer {
        padding: 0px 20px 0px 20px;
    }

}

.orderContainer,
.recipientContainer,
.cardContainer {
    max-width: 1200px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px 40px 60px;
    position: relative;
    margin: 10px auto;
}

@media (max-width: 990px) {

    .orderContainer,
    .recipientContainer,
    .cardContainer {
        padding: 0px 20px 40px 20px;
    }

}

@media (max-width: 430px) {

    .cartContainer,
    .orderContainer,
    .recipientContainer,
    .cardContainer {
        padding: 20px;
    }
}

.cartTitle,
.orderTitle,
.recipientTitle,
.cardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #1D445D;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-shrink: 0;
}

@media (max-width: 400px) {

    .cartTitle,
    .orderTitle,
    .recipientTitle,
    .cardTitle {
        font-size: 28px;
    }
}

.cartTitle::before,
.cartTitle::after,
.orderTitle::before,
.orderTitle::after,
.recipientTitle::before,
.recipientTitle::after,
.cardTitle::before,
.cardTitle::after {
    content: '';
    width: 230px;
    border-bottom: 3px solid #1D445D;
    margin: 0 20px;
}

@media (max-width: 880px) {

    .cartTitle::before,
    .cartTitle::after,
    .orderTitle::before,
    .orderTitle::after,
    .recipientTitle::before,
    .recipientTitle::after,
    .cardTitle::before,
    .cardTitle::after {
        width: 140px;
    }
}

@media (max-width: 700px) {

    .cartTitle::before,
    .cartTitle::after,
    .orderTitle::before,
    .orderTitle::after,
    .recipientTitle::before,
    .recipientTitle::after,
    .cardTitle::before,
    .cardTitle::after {
        width: 0px;
    }
}

.cartContent {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}


.orderContent,
.recipientContent,
.cardContent {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {

    .cartContent,
    .orderContent,
    .recipientContent,
    .cardContent {
        max-width: 90%;
    }
}

@media (max-width: 1024px) {

    .cartContent,
    .orderContent,
    .recipientContent,
    .cardContent {
        max-width: 90%;
    }
}

@media (max-width: 624px) {

    .cartContent,
    .orderContent,
    .recipientContent,
    .cardContent {
        max-width: 100%;
        padding: 0px;
    }
}


.orderName,
.orderEmail,
.orderPhone,
.orderNote,
.recipientName,
.recipientPhone,
.recipientAddress,
.cardName,
.cardNumber,
.cardExpiry,
.cardCCV {
    font-size: 16px;
    font-weight: 500;
    color: #1D445D;
    flex-shrink: 0;
    margin-bottom: 20px;
    display: flex;
    flex: row;
    flex-shrink: 0;
    align-items: center;
}


@media (max-width:500px) {

    .orderName,
    .orderEmail,
    .orderPhone,
    .orderNote,
    .recipientName,
    .recipientPhone,
    .recipientAddress,
    .cardName,
    .cardNumber,
    .cardExpiry,
    .cardCCV {
        flex-direction: column;
        align-items: flex-start;
    }
}

.cartContentItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
    width: 100%;
}

@media (max-width: 990px) {

    .cartContentItem {
        flex-direction: column;
    }
}

.cartContentLeft {
    max-width: 150px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

@media (max-width: 990px) {

    .cartContentLeft {
        max-width: 800px;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;

    }
}

.cartContentBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.cartContentCanvas {
    max-width: 75%;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 8%;
}

.cartContentRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    flex-shrink: 0;
    align-items: center;
}

@media (max-width:1200px) {

    .cartContentRight {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:990px) {

    .cartContentRight {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0px;
        width: 100%;
    }
}

@media (max-width:700px) {

    .cartContentRight {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (max-width:430px) {

    .cartContentRight {
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

.cartContentText {
    font-size: 16px;
    color: #1D445D;
}

@media (max-width:390px) {

    .cartContentText {
        font-size: 14px;
    }
}

.orderName,
.orderEmail,
.orderPhone,
.recipientName,
.recipientPhone,
.recipientAddress {
    max-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #575758;
}


.orderName:focus,
.orderEmail:focus,
.orderPhone:focus,
.recipientName:focus,
.recipientPhone:focus,
.recipientAddress:focus,
.cardName:focus,
.cardNumber:focus,
.cardExpiry:focus,
.cardCCV:focus {
    outline: none !important;
    border: 2px solid rgb(30, 105, 128);
}

.cartContentFinal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
}

.cartContentFinalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    font-size: 20px;
    font-weight: 600;
    color: #1D445D;
    flex-shrink: 0;
    height: 40px;
}

@media (max-width: 390px) {

    .cartContentFinalContainer {
        font-size: 16px;
        justify-content: flex-end;

    }
}

.cartContentTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #3686A5;
    flex-shrink: 0;
    height: 40px;
}

@media (max-width: 390px) {

    .cartContentTotal {
        font-size: 20px;
    }
}


.checkoutButton {
    background-color: #1A5665;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 35px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutButton:hover {
    background-color: #36B2D8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.checkoutButton:active {
    background-color: #3686A5;
    text-shadow: none;
}

.tpfield {
    height: 40px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #c5c5c5;
    background-color: white;
    border-radius: 5px;
    margin: 1px 0;
    padding: 0px 10px;
}

/* .tappay-field-focus {
    border-color: #448899;
    -webkit-box-shadow:
        inset 0 2px 2px rgba(0, 0, 0, 0),
        0 0 0 2px #448899;
    box-shadow:
        inset 0 2px 2px rgba(0, 0, 0, 0),
        0 0 0 2px #448899;
} */