/* ../styles/website.module.css */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: F0F0F0;
    flex: 1;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}