/* components/Navbar/Navbar.css */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff7441;
    color: rgb(199, 199, 199);
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}