/* components/RegisterModal/RegisterModal.module.css */
.darkBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mainContainer {
    max-width: 926px;
    width: 92%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: 490px;
    display: flex;
}

.leftContainer {
    background: rgb(54, 179, 217, 0.7);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 10px 0 0 10px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rightContainer {
    padding: 30px;
    border-radius: 0 10px 10px 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

@media (max-width: 720px) {
    .leftContainer {
        display: none;
    }

    .rightContainer {
        width: 100%;
        border-radius: 10px;
    }

}



.logoImage {
    background-image: url('/images/logo.png');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.webTitle {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: rgb(68, 66, 66);
}

.closeButton:hover {
    color: #c95b5b;
}

.registerTitle {
    font-size: 36px;
    font-weight: bold;
    color: #1A5665;
    margin-bottom: 30px;
}

@media (max-width: 400px) {
    .registerTitle {
        font-size: 28px;
    }
}

@media (max-width: 350px) {
    .registerTitle {
        font-size: 24px;
    }
}

.emailContainer {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 30px;
}

.passwordContainer {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 30px;
}

.nameTitle,
.emailTitle,
.passwordTitle {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

@media (max-width: 360px) {

    .nameTitle,
    .emailTitle,
    .passwordTitle {
        font-size: 0;
        padding-right: 0px;
    }

}

.nameInput,
.emailInput,
.passwordInput {
    width: 100%;
    height: 37px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #757575;
    align-items: center;
}

.nameInput:focus,
.emailInput:focus,
.passwordInput:focus {
    outline: none !important;
    border: 2px solid #36B2D7;
}

.registerButton {
    background-color: #1A5665;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

@media (max-width: 360px) {
    .registerButton {
        font-size: 20px;
    }

}

.registerButton:hover {
    background-color: #36B2D8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.registerButton:active {
    background-color: #3686A5;
    text-shadow: none;
}


.loginContainer {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.loginLink:hover {
    cursor: pointer;
}

.loginLink:hover {
    color: #29879e;
}

.registerMessageContainer {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

.loginTitle,
.loginLink {
    padding-bottom: 10px;
}

@media (max-width: 360px) {

    .loginTitle,
    .loginLink {
        font-size: 18px;
    }
}